<div id="section1" class="container-fluid">
    <h1 class="text-center">ABOUT</h1>

    <div id="accordion">
        <div class="card">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  Collapsible Group Item #1
                </h5>
            </div>
          </button>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="col-sm-8">
        This is a lve preview for <a href="../../assets/Form.pdf">Google</a>
        <div class="box">
            <iframe src="../../assets/Form.pdf" width="500px" height="500px"></iframe>
        </div>
        <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
        <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
    </div>
</div>
<hr>
