<nav id="navbar-example2" class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="#main">WebSiteName</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav  mr-auto">
            <li class="nav-item"><a class="nav-link" href="#section1">About</a></li>
            <li class="nav-item"><a class="nav-link" href="#section2">Services</a></li>
            <li class="nav-item"><a class="nav-link" href="#section3">Portfolio</a></li>
            <li class="nav-item"><a class="nav-link" href="#section4">Pricing</a></li>
            <li class="nav-item"><a class="nav-link" href="#section5">Contact</a></li>
        </ul>
    </div>
</nav>
