.container-fluid {
  padding: 60px 50px;
}
.carousel-item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}
.carousel-item span {
  font-style: normal;
}
