<div id="section2" class="container-fluid">
    <h1 class="text-center">SERVICES</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <figure class="figure">
                <a href="../assets/fjords.jpg" target="_blank">
                    <img src="../assets/fjords.jpg" class="figure-img img-fluid rounded" alt="" style="width: 100%;">
                </a>
                <figcaption class="figure-caption">A caption for the above image.</figcaption>
                <!-- <div class="caption">
                    <p>Text</p>
                </div> -->
            </figure>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="thumbnail">
                <a href="../assets/lights.jpg" target="_blank">
                    <img src="../assets/lights.jpg" class="img-responsive" alt="" style="width: 100%;">
                </a>
                <div class="caption">
                    <p>Text</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="thumbnail">
                <a href="../assets/nature.jpg" target="_blank">
                    <img src="../assets/nature.jpg" class="img-responsive" alt="" style="width: 100%;">
                </a>
                <div class="caption">
                    <p>Text</p>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
            <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
        </div>
    </div>
</div>
<hr>
